* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-family: "Open Sans", sans-serif;
}

#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    height: 70px;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
}

#navbar ul li a:hover {
    background: #336ea2;
    border-radius: 15px;
}
/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #336ea2;
}
#home img {
    max-width: 25%;
    height: auto ;
    border-radius: 100%
}
#home .name h2{
   margin-bottom: 0.75rem; 
}
#home .name p{
    opacity: 0.7 ;
    font-style: italic;
}
#training{
    color: white;
    padding: 1rem;
}
#training .items{
    display: flex;
    justify-content: space-between;
}
#training .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#training .items .item:hover{
    color: red;
    opacity: 0.6;
}